xcuserdata/
DerivedData/
fastlane/README.md
fastlane/report.xml
build/
DerivedData/
*/Pods
*.xcuserstate
.DS_Store
*.generated.swift
swiftlint.result.json
swiftlint.result.json
*/Resources/Generated/Assets.swift
*/Resources/Generated/Icons.swift
*/Resources/Generated/Texts.swift
xcodebuild.log
